.home-lead {
    margin: 0 auto;
    padding: 96px 0;
    max-width: 800px;
    text-align: center;
}

.home-lead-title {
    margin: 0;
    font-size: 48px;
}

.home-lead-text {
    margin: 0;
    font-size: 24px;
}
