<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8">

<title>Демо #1 / Расскрасочки</title>
<link rel="stylesheet"
      href="./main.css">
</head>

<body>

  <div>Live-reload test: <%= message %></div>


  <div class="paint-box">
    <div class="canvas-bg">
    1
    </div>
  </div>

  <!--
  <div class="paint-box"></div>
  <script type="module">
    import App from "./src/main.js";

    new App({
      el: '.paint-box',
      outlineImage: './static/3.jpg',
    });
  </script>
  -->
</body>

</html>
