body {
  margin: 0;
  padding: 16px;
  background: #eee;
}

.paint-box {
  display: inline-block;
  vertical-align: top;

  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background: #fff;
}

canvas {
  display: block;
}

.canvas-bg {
  min-width: 640px;
  min-height: 480px;
  background: url('/img/bg.jpg');
  // color: #008;
}
