$hash: z46Juzcyx;

.#{$hash}-container {
  position: relative;
  background: #fff;
}

.#{$hash}-coloring {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 24px solid transparent;
}

.#{$hash}-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  // display: none;
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }
}

.#{$hash}-outline {
  position: relative;
  z-index: 1;
  pointer-events: none;

  svg {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    height: auto;
  }
}

.#{$hash}-active-color {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.#{$hash}-colors > div {
  display: flex;
  flex-wrap: wrap;
}

.#{$hash}-color {
  display: block;
  flex: 1 1 8%;
  height: 30px;
  height: 5vh;
  cursor: pointer;
}
